{% extends 'base.html.twig' %}

{% block title %}Atout Fer! - Ajouter un service
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="titre">Ajouter un service :</h1>
		<a class="btn btn-green mb-4" href="{{ path('app_service') }}">Retour sur la liste</a>
		<div class="container">

			{{ form(form) }}


			</div>
		</div>
	{% endblock %}
