*,
form,
span.nb {
    font-family: 'Inter', sans-serif;
}

.titre,
h5.card-title {
    font-family: 'Just Another Hand', cursive;
    font-size: 3rem;
    color: #383737;
}

h1 {
    color: #383737;
}

/*login*/
.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

a {
    color: #3EB08D;
}

a:hover {
    color: #92fdf0;
}