<div class="fond-cataccueil mb-5">
    <div class="container">
        <div class="row gradient">
            <div class="offset-md-12 offset-lg-6 col-sm-12 col-lg-6 d-flex flex-column align-items-center mt-5">
                <p>Bienvenue dans l'arrière boutique de votre pressing !</p>
                <p>Marre du linge qui s'entasse inlassablement chez vous ?</p>
                <p>Ras le hublot de ces tâches qui ne partent plus sur votre vêtement préféré ?</p>
                <p>N'attendez plus, Atout Fer s'occupe de tout !</p>
                <a [routerLink]="['/depot']" class="btn btnvertc">Rejoignez-nous et profitez de nos offres
                    exceptionnelles !</a>
            </div>
        </div>
    </div>
    <div class="container infos">
        <div class="row">
            <div class=" offset-sm-2 offset-md-2 col-md-8 bg-vert">
                <div class="row">
                    <div class="col-sm-12 col-md-6 d-flex align-items-center">
                        <fa-icon [icon]="faDoor" class="fs-1" style="color: #ffffff;"></fa-icon>
                        <p>Horaires d'ouverture :
                            <br>
                            Lundi au vendredi : 8h-12h / 15h-19h
                            <br>
                            Samedi : 9h30-13h
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-6 d-flex align-items-center">
                        <fa-icon [icon]="faThumb" class="fs-1 ms-2" style="color: #ffffff;"></fa-icon>
                        <p>La qualité à votre service
                            <br>
                            Satisfait ou remboursé * !
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>