<footer class="text-center text-lg-start text-white mt-5">
	<div class="container">

		<div class="row">
			<div class="col-md-4 d-flex align-items-center">
				<img src="{{ asset('img/logo-blanc.svg') }}" alt="" style="max-width:150px">
				<span>
					Atout Fer !</span>
			</div>

			<div class="col-md-4 d-flex flex-column align-items-center mb-3 mt-3">
				<h6 class="mb-4 font-weight-bold text-center">Contacts</h6>
				<a href="tel:04735595">
					<i class="fa-solid fa-phone fa-flip-horizontal" style="color: #ffffff;"></i>
					+33 4 73 55 95</a>
				<a href="mailto:contact-atoutfer@atoutfer.fr">
					<i class="fa-solid fa-envelope" style="color: #ffffff;"></i>
					contact-atoutfer@atoutfer.fr</a>
				<a href="#">
					<i class="fa-solid fa-house" style="color: #ffffff;"></i>
					24 avenue du Fer - 63000 Clermont-Ferrand</a>
			</div>

			<div class="col-md-4 d-flex flex-column mb-3 mt-3">
				<h6 class="mb-4 text-center">Rejoignez-nous sur les réseaux :
				</h6>
				<div class="d-flex justify-content-evenly">
					<a href="#">
						<i class="fa-brands fa-facebook fa-xl" style="color: #ffffff;"></i>
					</a>
					<a href="#">
						<i class="fa-brands fa-instagram fa-xl" style="color: #ffffff;"></i>
					</a>
					<a href="">
						<i class="fa-brands fa-x-twitter fa-xl" style="color: #ffffff;"></i>
					</a>
				</div>
			</div>
		</div>

	</div>
	<div class="doublecolor text-center p-3">

		<h7>© 2024 Atout Fer!</h7>
	</div>
</footer>
