<div class="container mt-5">
    <section id="histoire">
        <h2 class="titre">Qui sommes-nous ?</h2>
        <h3>Notre histoire :</h3>
        <div class="mt-3 mb-3">
            <p>Bernard : "Pourquoi ouvrir <em>ce pressing</em>, pourquoi toutes ces <em>histoires de chat</em> ? Tout
                commence
                par notre passion commune avec les <em>animaux</em> et l'<em>écologie</em>. Nous voulions lier tout ceci
                dans un
                projet
                qui nous ressemble, quelque chose qui respecte l'<em>environnement</em> mais également pour nos <em>amis
                    à
                    quatre pattes</em>.
                Le pressing en soit n'était pas une réponse évidente, nous sommes passés par de nombreuses d'étapes de
                réflexions, bon nombre de prospections et d'études de marché pour savoir ce qui correspondrait le plus à
                notre
                approche. Puis un jour, il nous est apparu clairement lors d'un reportage sur les pressings et le côté
                chimique
                des produits d'entretien que la solution était là. On voulait pouvoir utiliser des <em>produits
                    écologiques</em> qui
                permettent le bien-être des personnes dans leur vie de tous les jours mais aussi pour leur compagnon
                animal."
            </p>
        </div>
        <div class="mt-3 mb-4">
            <p>Laetitia : "Alors nous nous sommes lancés dans l'aventure "<em>AtoutFer</em>". Le nom est venu d'une
                blague
                entre
                nous deux
                un jour alors que nous
                cherchions des noms pour l'entreprise. Bernard m'a parlé en me disant "tu te rends compte qu'on va tout
                faire"
                et là, j'ai pensé "à tout faire", on
                peut partir sur cette partie, nous voulons nous rendre indispensable, donc être un atout et on est un
                pressing
                avec des fers donc c'est de là qu'est né
                "<em>AtoutFer</em>". On s'était penché sur le fait que ça pourrait être revu plus tard et finalement,
                nous
                l'avons gardé
                en souvenir. On a commencé dans une toute petite boutique et ça a fini par prendre de l'ampleur. C'est
                ce
                genre
                de chose
                qui nous donne envie de continuer et d'aller encore plus loin dans cette aventure."</p>
        </div>
    </section>
</div>

<div class="fond-catprofil">
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-12 col-lg-6 order-lg-last d-flex flex-column">
            </div>
            <div class="col-sm-12 col-lg-6 d-flex flex-column justify-content-center">
                <p>&laquo;L'aventure "AtoutFer", cela reste avant tout du savoir-faire, de la bonne humeur et beaucoup
                    de
                    photos de chat.
                </p>
                <p>Une aventure à taille humaine pour sensibiliser au bon geste pour la planète et aussi sur la santé et
                    le soin de nos
                    animaux.&raquo;
                </p>
                <p class="text-end">Bernard et Laetitia</p>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <section id="engagement">
        <h2 class="titre">Notre engagement :</h2>

        <div class="row d-flex justify-content-around mb-5">
            <img src="assets/img/ecolabel.png" alt="image du logo d'écolabel" style="max-width: 250px;">
            <img src="assets/img/logo-nf.jpg" alt="" style="max-width: 250px;">
        </div>
        <h3>Ce qui est bon pour la planète, l'est aussi pour nous.</h3>
        <p>Nous avons tout fait pour obtenir les meilleurs ingrédients pour nos produits, les énergies les plus
            renouvelables possibles, les nouvelles technologies les plus économes et notre travail a été récompensé.
        </p>
        <p>Nous sommes certifiés sur nos produits avec le label européen Ecolabel et la certification française AFNOR.
        </p>
        <p>Ainsi quelque soit votre besoin, vous pouvez faire confiance en nos services et nos machines pour être
            les plus respectueux de l'environnement.
        </p>
    </section>
</div>